:sass
  $navy-blue: #2c3e50
  $light-gray: #ecf0f1
  $top-bar: #4d5256
  $font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif


  %body
    height: 100%
    width: 100%

  .table-area
    th
      border-bottom: .2em solid black
      padding-left: 3em
      padding-right: 3em
      padding-bottom: 1em
      font-family: $font-family

    td
      text-align: center
      padding-top: 1em
      padding-bottom: 1em
      font-family: $font-family



- def get_survey_image_download_link(filename)
  -  @image = SurveyImage.where('metadata.media_id'=> filename)
  -  if !@image.blank?
    -  @image_id = @image.first.id
    -  @filename = @image.first.filename
    -  spawn 'cd data'
    -  spawn 'mongofiles -d omh get ' + @filename
    -  @download_link = "http://ohmage-omh.smalldata.io/admin/images/" + @image_id
  - else
    - @link = ''



.top-area
  .row
    .large-12.columns
      %h1 ohmage Surveys


.survey-area
  - url_var = request.original_url
  - a = url_var.split(//).last(13).join.to_i
  - a = Time.zone.at(a / 1000.0).to_s[0..9]

  - if @user.one_day_ohmage_data_points(current_admin_user.id, /#{a}/).nil?
    - return "NO Surveys!"
  - else
    - survey_name = []
    - @user.one_day_ohmage_data_points(current_admin_user.id, /#{a}/).each do |data_point|
      - survey_name = survey_name.push(data_point.header.schema_id.name).uniq

    - survey_name.each do |name|
      .single-survey-group
        .row
          .large-12.columns
            %h3= name
            %table.table-area
              - survey_keys = []
              - @user.one_day_ohmage_data_points(current_admin_user.id, /#{a}/).each do |data_point|
                - if data_point.body.data
                  - if data_point.header.schema_id.name == name
                    - data_point.body.data.attributes.each do |key, value|
                      - survey_keys = survey_keys.push(key).uniq
                - else
                  - if data_point.header.schema_id.name == name
                    - data_point.body.attributes.each do |key, value|
                      - survey_keys = survey_keys.push(key).uniq

              %tr
              - survey_keys.each do |key_name|
                %th= key_name

              - @user.one_day_ohmage_data_points(current_admin_user.id, /#{a}/).each do |data_point|
                %tr
                - i = 0
                - if data_point.body.data
                  - data_point.body.data.attributes.each do |key, value|
                    - if i <= survey_keys.length
                      - key = survey_keys[i]
                      - if data_point.body.data[key].is_a? String
                        - if data_point.body.data[key].include?(".jpg") || data_point.body.data[key].length == 36
                          - download_link = get_survey_image_download_link(data_point.body.data[key])
                          %td
                            %a{href: download_link}= data_point.body.data[key]
                            - i += 1
                        - else
                          %td= data_point.body.data[key]
                          - i += 1
                      - else
                        %td= data_point.body.data[key]
                        - i += 1
                    - else
                      %td= data_point.body.data[key]
                      - i += 1

                - else
                  - data_point.body.attributes.each do |key, value|
                    - if i <= survey_keys.length
                      - key = survey_keys[i]
                      - if data_point.body[key].is_a? String
                        - if data_point.body[key].include?(".jpg") || data_point.body[key].length == 36
                          - download_link = get_survey_image_download_link(data_point.body[key])
                          %td
                            %a{href: download_link}= data_point.body[key]
                            - i += 1
                        - else
                          %td= data_point.body[key]
                          - i += 1
                      - else
                        %td= data_point.body[key]
                        - i += 1
                    - else
                      %td= data_point.body[key]
                      - i += 1