     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag "fullcalendar", "calendar", "bootstrap.min"%>

        <%= javascript_include_tag "d3.min", "jquery.min", "bootstrap.min", "moment.min", "fullcalendar.min", "gcal", "fullcalendar_implementation"%>

        <style>
        .day_viz {
            position: absolute; top: 50%; left: 3px; right: 3px; bottom: 3px; opacity: 0.5;
        }

        #stats { margin-bottom: 1em; font-size: larger; }
        #stats td { padding: 2px; }
        #stats .stat_label { font-weight: bold; color: #555; }
        #stats .stat_value { display: block; width: 10px; text-align: left;}

        .legend { display: inline-block; margin-right: 5px; border: solid 1px #ccc; width: 20px; height: 20px; opacity: 0.5; float: right;}
        .legend.active_time_in_seconds { background-color: #FFAC46; }
        .legend.time_not_at_home_in_seconds { background-color: #46D1FF; }
        .legend.max_gait_speed_in_meter_per_second { background-color: #6EEDA5; }
        #active_time_in_seconds_button {color: #FFAC46;}
        #time_not_at_home_in_seconds_button {color: #46D1FF;}
        #max_gait_speed_in_meter_per_second_button {color: #6EEDA5; }



        #filter_controls { padding: 3px; }
        .event_style { width: 30%; }
        .panel_contents {background-color: #EEE;}
        </style>

 <body>
        <div id="calendar_data_points" data-url="http://localhost:3000/admin/users/<%= @user.id %>/calendar_data_points.json"></div>
        <!-- http://lifestreams.smalldata.io/admin/users/<%= @user.id %>/calendar_data_points.json -->

        <!-- http://localhost:3000/admin/users/<%= @user.id %>/calendar_data_points.json -->

        <!-- http://ohmage-omh.smalldata.io/admin/users/<%= @user.id %>/calendar_data_points.json -->

        <div id="one_day_pam_data" data-url="http://localhost:3000/admin/users/<%= @user.id %>/pam_data_points?date="></div>
        <div id="one_day_ohmage_data" data-url="http://localhost:3000/admin/users/<%= @user.id %>/ohmage_data_points?date="></div>
        <div id="one_day_fitbit_data" data-url="http://localhost:3000/admin/users/<%= @user.id %>/fitbit_data_points?date="></div>


        <div id="pam_events_array" data-attribute="<%= @user.calendar_pam_events_array %>"></div>
        <div id="ohmage_events_array" data-attribute="<%= @user.calendar_ohmage_events_array(current_admin_user.id) %>"></div>
        <div id="fitbit_events_array" data-attribute="<%= @user.calendar_fitbit_events_array %>"></div>
        <div id="annotation_events_array" data-attribute="<%= @user.calendar_annotation_events_array %>"></div>


        <div class="fc-toolbar">
            <div class="fc-center">
                <button id="max_gait_speed_in_meter_per_second_button" class="fc-button fc-state-default"  type="button">Max Walking Speed(m/s)</button>
                <button id="active_time_in_seconds_button" class="fc-button fc-state-default" type="button">Active Time In Minutes</button>
                 <button id="time_not_at_home_in_seconds_button" class="fc-button fc-state-default" type="button">Time Not At Home In Minutes</button>
                <button id="all_three_bars" class="fc-button fc-state-default"  type="button">View All</button>
            </div>
        </div>

        <div class="container-fluid">
            <div>
                <div style="margin-bottom: 10px;">
                    <div id="calendar"></div>

                    <div id="filter_controls">
                        <span style="margin-right: 10px;"><input type="checkbox" id="show_bar_numbers" checked="checked" /> <label for="show_bar_numbers">display bar values</label></span>
                        <span><input type="checkbox" id="show_events" checked="checked" /> <label for="show_events">display events</label></span>
                    </div>
                </div>
                <div class="container">
                  <button id="eventButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#annotationInput" style="display: none;">Open Modal</button>

                  <div class="modal fade" id="annotationInput" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">
                            &times;
                          </button>
                          <h4>Annotation:</h4>
                        </div>
                        <!-- :annotation, url: admin_user_annotations_path(@user.id) -->
                        <!-- ([@user, @user.annotations.build]) -->
                        <%= form_for :annotation, url: admin_user_annotations_path(@user.id) do |f| %>
                          <div class="modal-body">
                            <p>
                              <%= f.label 'Note: ' %>
                              <%= f.text_field :title, id: 'eventTitle' %>
                            </p>
                           <br>
                            <p>
                              <%= f.label 'Date: ' %>
                              <%= f.text_field :start, id: 'eventDate', value: ''%>
                            </p>

                          </div>
                          <div class="modal-footer">
                            <%= f.submit %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </body>






























































