:sass
  $navy-blue: #2c3e50
  $light-gray: #ecf0f1
  $font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif

  %body
    width: 100%
    height: 100%

  .name h1
    font-size: 3em
    color: $light-gray
    font-family: $font-family

  .date-area
    margin-bottom: 3em

  .variable-set
    margin-top: 3em

  .location-image-set
    margin-top: 3em

  .variable-set ul li
    list-style-type: none

  .pagination li
    font-size: 1.5em !important

  .home-page
    min-height: 100%
    -# background: $navy-blue

  .location-half
    color: white

  .location-display h3
    font-family: $font-family
    color: white

  .data-variable-display h3
    font-family: $font-family
    color: white

  .variable-half
    color: white

  .small-1 i
    font-size: 2.5em

  .variable-set p
    font-size: 1.5em

  .variable-bar
    padding-top: 1.5em


.home-page
  .nav-area
    .row
      .large-12.columns
        .name
          %h1.text-left Mobility-omh

      %hr

  .date-area
    .row
      .large-6.large-centered.columns
        %ul.pagination
          %li.arrow
            %a &laquo; Previous Day
          %li.current
            %a Today
          %li.arrow.unavailable
            %a Next Day &raquo;


  .data-area
    .row
      .large-12.columns.location-half
        .location-display
          %h3.text-center Your Previous Location

          .location-image-set
            .row
              .large-4.medium-6.small-12.columns
                %a.th
                  = image_tag('https://maps.googleapis.com/maps/api/staticmap?center=&zoom=14&size=400x400')
                .time-place.text-center
                  %p The Time : 10:00
                  %p The Place : Park Slope



              .large-4.medium-6.small-12.columns
                %a.th
                  = image_tag('test_map.png')
                .time-place.text-center
                  %p The Time : 11:47
                  %p The Place : Brooklyn Heights


              .large-4.medium-6.small-12.columns
                %a.th
                  = image_tag('test_map.png')
                .time-place.text-center
                  %p The Time : 12:21
                  %p The Place : Upper East Side


              .large-4.medium-6.small-12.columns
                %a.th
                  = image_tag('test_map.png')
                .time-place.text-center
                  %p The Time : 14:00
                  %p The Place : Chinatown



              .large-4.medium-6.small-12.columns
                %a.th
                  = image_tag('test_map.png')
                .time-place.text-center
                  %p The Time : 14:55
                  %p The Place : Soho

              .large-4.medium-6.small-12.columns
                %a.th
                  = image_tag('test_map.png')
                .time-place.text-center
                  %p The Time : 19:30
                  %p The Place : Central Park





    .row
      .large-12.columns.variable-half
        .data-variable-display
          %h3.text-center Your Data

          .variable-set
            %ul
              %li
                %p Away From House(hrs)
                .row
                  .small-1.columns
                    %i.fi-mountains
                  .small-11.columns.variable-bar
                    .progress.success.radius.large-12
                      %span.meter{style:'width: 30%'}


              %li
                %p Walking Distanec(km)
                .row
                  .small-1.columns
                    %i.fi-foot
                  .small-11.columns.variable-bar
                    .progress.alert.radius.large-12
                      %span.meter{style:'width: 70%'}


              %li
                %p Gait Speed(m/s)
                .row
                  .small-1.columns
                    %i.fi-map
                  .small-11.columns.variable-bar
                    .progress.radius.large-12
                      %span.meter{style:'width: 50%'}


  .footer-area
    .row
      .large-12.columns
        %hr
        %h5 CONTACTS









































